In [56]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import gmaps

In [57]:
df = pd.read_csv("https://data.cityofnewyork.us/resource/wvxf-dwi5.csv?$limit=50000")

In [60]:
len(df)

198

In [59]:
df.dropna(inplace = True)
df.head()

,violationid,buildingid,registrationid,boroid,boro,housenumber,lowhousenumber,highhousenumber,streetname,streetcode,...,novtype,violationstatus,latitude,longitude,communityboard,councildistrict,censustract,bin,bbl,nta
76,10000394,52006,210581,2,BRONX,2320,2320,2320,BRONX PARK EAST,15220,...,Original,Close,40.860036,-73.870734,11.0,15.0,33201.0,2049747.0,2.043400e+09,Bronxdale
1072,10003633,343610,303619,3,BROOKLYN,170,170,170,NEW YORK AVENUE,64830,...,Original,Close,40.674488,-73.947294,8.0,36.0,31701.0,3031005.0,3.012270e+09,Crown Heights North
1073,10003634,343610,303619,3,BROOKLYN,170,170,170,NEW YORK AVENUE,64830,...,Original,Close,40.674488,-73.947294,8.0,36.0,31701.0,3031005.0,3.012270e+09,Crown Heights North
1074,10003635,343610,303619,3,BROOKLYN,170,170,170,NEW YORK AVENUE,64830,...,Original,Close,40.674488,-73.947294,8.0,36.0,31701.0,3031005.0,3.012270e+09,Crown Heights North
1075,10003636,343610,303619,3,BROOKLYN,170,170,170,NEW YORK AVENUE,64830,...,Original,Close,40.674488,-73.947294,8.0,36.0,31701.0,3031005.0,3.012270e+09,Crown Heights North

In [51]:
#locations.isna().any()

latitude     True
longitude    True
dtype: bool

In [61]:
# Store latitude and longitude in locations
locations = df[["latitude", "longitude"]]

# Fill NaN values and convert to float
violations = df["violationid"].astype(float)

In [65]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=violations, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
fig = gmaps.figure(map_type="HYBRID")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=violations, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))